@use "spacing" as *;

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.header h1 {
    margin: $spacing-section 0;
}

.header__text {
    width: 60%;
    margin: 0 0 $spacing-section;
    text-align: left;
}
