@use "spacing" as *;

.skills__heading {
    width: 60%;
    margin: 0 auto $spacing-section;
    text-align: center;
}

.skills {
    display: flex;
    width: 60%;
    margin: 0 auto;
}

.skills__item {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skills__shape--id {
    width: 0;
    height: 0;
    border-left: 77px solid transparent;
    border-right: 77px solid transparent;
    border-bottom: 133px solid var(--color-bauhaus-yellow);
}

.skills__shape--pm {
    width: 154px;
    height: 154px;
    border-radius: 50%;
    background-color: var(--color-bauhaus-blue);
}

.skills__shape--av {
    width: 154px;
    height: 154px;
    background-color: var(--color-bauhaus-red);
}
