<nav class="nav">
    <span class="nav__line"></span>
    <div class="nav__section">
        <ul class="nav__list nav__list--small">
            <li>Placeholder text</li>
            <li>Placeholder text</li>
            <li>Placeholder text</li>
        </ul>
    </div>
    <span class="nav__line"></span>
    <div class="nav__section">
        <ul class="nav__list nav__list--bold">
            <li>Placeholder text</li>
            <li>Placeholder text</li>
            <li>Placeholder text</li>
        </ul>
    </div>
    <span class="nav__line"></span>
</nav>
